<section class="px-4 mt-16 max-w-screen">
    <div class="content container mx-auto max-w-screen-xl clear-both">
        <div class="lg:grid lg:grid-cols-3 lg:gap-8">
            <div class="lg:col-span-2">
                {{ if teaser_image }}
                    {{ responsive:teaser_image alt="{post_image:alt}" class="self-center" }}
                {{ else }}
                    {{ responsive:post_image alt="{alt}" class="self-center" }}
                {{ /if }}
                {{ if detail_title }}
                    <h1 class="text-2xl my-2">
                        {{ detail_title }}
                    </h1>
                {{ else }}
                    <h1 class="text-2xl my-2">
                        {{ title }}
                    </h1>
                {{ /if }}

                {{ replicator }}
                    {{ partial src="partials/content/{type}" }}
                {{ /replicator }}

                <div class="text-center">
                    {{ downloads }}
                        <a href="{{ path }}" class="px-10 py-3 inline-block bg-orange-500 hover:bg-orange-700 hover:opacity-100 text-white font-300 uppercase rounded-sm hover:transition-colors hover:duration-200 hover:bg-opacity-95">Herunterladen</a>
                    {{ /downloads }}
                </div>

                <div class="my-20">
                    <h4 class="mb-20 text-center with-cutter">Weitere Vorlagen</h4>
                    <div class="grid grid-cols-3 gap-8">
                        <a href="" class=" p-3 text-center text-xs bg-gray-300 rounded-sm hover:bg-gray-500">PowerPoint Präsentation</a>
                        <a href="" class=" p-3 text-center text-xs bg-gray-300 rounded-sm hover:bg-gray-500">PowerPoint Präsentation</a>
                        <a href="" class=" p-3 text-center text-xs bg-gray-300 rounded-sm hover:bg-gray-500">PowerPoint Präsentation</a>
                        <a href="" class=" p-3 text-center text-xs bg-gray-300 rounded-sm hover:bg-gray-500">PowerPoint Präsentation</a>
                        <a href="" class=" p-3 text-center text-xs bg-gray-300 rounded-sm hover:bg-gray-500">PowerPoint Präsentation</a>
                        <a href="" class=" p-3 text-center text-xs bg-gray-300 rounded-sm hover:bg-gray-500">PowerPoint Präsentation</a>
                        <a href="" class=" p-3 text-center text-xs bg-gray-300 rounded-sm hover:bg-gray-500">PowerPoint Präsentation</a>
                    </div>
                </div>

                <div class="my-20">
                    <h4 class="mb-20 text-center with-cutter">Mehr aus unserem Blog</h4>
                </div>
            </div>
            <aside class="lg:h-screen lg:sticky lg:top-28">
                {{ partial src="partials/sidebar" }}
            </aside>
        </div>
    </div>
</section>

