<div class="lg:grid lg:grid-cols-3 lg:gap-8">
    <div class="lg:col-span-2">
        {{ teaser_image }}
            <img class="self-center" src="{{ url }}" {{ if alt }} alt="{{ alt }}" {{ /if }}>
        {{ /teaser_image }}

        {{ if detail_title }}
            <h1 class="text-2xl text-black my-2">
                {{ detail_title }}
            </h1>
        {{ else }}
            <h1 class="text-2xl text-black my-2">
                {{ title }}
            </h1>
        {{ /if }}

        <!-- @todo autor box -->
        <div class="p-6 mb-6 border border-gray-200 flex flex-row gap-6">
            <div class="">
                <span class="inline-block h-24 w-24 rounded-full overflow-hidden bg-gray-100">
                    {{ author }}
                        {{ if avatar }}
                            {{ avatar }}
                                <img class="h-full w-full" src="{{ url }}" {{ if alt }} alt="{{ alt }}" {{ /if }}>
                            {{ /avatar }}
                        {{ else }}
                            <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                                <path
                                    d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                            </svg>
                        {{ /if }}
                    {{ /author }}


                </span>
            </div>
            <div>
                {{ author }}
                    <div class="flex flex-row gap-1 items-end"><p><span class="text-orange-500 text-lg">{{ name }}</span> (</p> {{ position }} <p>)</p></div>
                {{ /author }}

                {{ date format="d. F Y"}}

                {{ author }}
                    {{ short_text }}
                {{ /author }}
            </div>
        </div>
        <!-- @todo /autor box -->

        {{ replicator }}
            {{ partial src="partials/content/{type}" }}
        {{ /replicator }}
    </div>
    <div>
        {{ partial src="partials/sidebar" }}
    </div>
</div>
