<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{ if meta_title }}

        {{ elseif page_title }}
            <title>{{ page_title }}</title>
        {{ elseif author_slug }}
            {{ users slug:is="{author_slug}" }}
                <title>
                    {{ short_text | strip_tags | excerpt:. }}.
                </title>
                <meta name="description" content="{{ short_text | strip_tags }}" />
            {{ /users }}
        {{ else }}
            <title>GWriters • {{ title ?? site:name }}</title>
        {{ /if }}

        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">

        <link rel="icon" href="/assets/webseite/gwriters-logo-32x32.png" sizes="32x32">
        <link rel="shortcut icon" href="/assets/webseite/gwriters-logo-32x32.png">
        <link rel="apple-touch-icon" href="/assets/webseite/gwriters-logo-57x57.png"
            sizes="57x57">
        <link rel="apple-touch-icon" href="/assets/webseite/gwriters-logo-76x76.png"
            sizes="76x76">
        <link rel="apple-touch-icon" href="/assets/webseite/gwriters-logo-120x120.png"
            sizes="120x120">
        <link rel="apple-touch-icon" href="/assets/webseite/gwriters-logo-152x152.png"
            sizes="114x114">

        <!-- TrustBox script -->
        <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
        <!-- End TrustBox script -->

        {{ if !author_slug }}
            {{ aardvark-seo:head }}
        {{ /if }}

        {{ if config:app:google_tracking }}
            <link rel='dns-prefetch' href='//www.googletagmanager.com' />
            <script src='https://www.googletagmanager.com/gtag/js?id=UA-30152060-1' id='google_gtagjs-js' async></script>
            <script id='google_gtagjs-js-after'>
                window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}
                gtag("js", new Date());
                gtag("set", "developer_id.dZTNiMT", true);
                gtag("config", "UA-30152060-1", {"anonymize_ip":true});
            </script>
        {{ else }}
            <!-- No tracking -->
        {{ /if }}

    </head>
    <body class="{{ if id=="home" }}{{ id }}{{ /if }}{{ segment_1 }} bg-white leading-normal text-black pt-24 body {{ template }}">
        {{ aardvark-seo:body }}

        {{ partial src="partials/header" }}

        {{ template_content }}

        {{ partial src="partials/footer" }}

        <script src="{{ mix src='/js/site.js' }}"></script>
        <script src="{{ mix src='/js/app.js' }}"></script>

        {{ aardvark-seo:footer }}
    </body>
</html>
