<section class="py-24 px-4 max-w-screen">
  <div class="content container mx-auto max-w-screen-xl clear-both">
    <div class="lg:grid lg:grid-cols-3 lg:gap-8">
      <div class="lg:col-span-2">

        {{ replicator }}
          {{ partial src="partials/content/{type}" }}
        {{ /replicator }}

      </div>
      <aside
        class="mb-8">
        {{ yield:sidebar }}
          {{ partial src="partials/sidebar" }}
        {{ /yield:sidebar }}
      </aside>
    </div>
  </div>
</section>
