
{{ if gw_source=="statamic-staging-static.gwriters.ch" }}

<p>Vielen Dank, Ihre Anfrage ist soeben in unserem System eingegangen. Wir kontaktieren nun die für Ihr Anliegen am besten passenden Ghostwriter aus unserem Expertenteam und melden uns innerhalb kürzester Zeit mit einem unverbindlichen Angebot bei Ihnen zurück.</p>

<p>Bitte überprüfen Sie unbedingt den Spam-Order Ihres E-Mail-Postfachs, falls Sie innerhalb unserer Geschäftszeiten noch kein Angebot von uns innerhalb von 2 Stunden erhalten haben.</p>

<p>Eine Kopie Ihrer Anfrage erhalten Sie per E-Mail an Ihre angegebene Kontaktadresse. Falls Sie uns Korrekturen, Ergänzungen oder Dateianhänge zusenden möchten, senden Sie diese bitte einfach an eine der folgenden E-Mail-Adressen.</p>


<p>Schweiz: info@gwriters.ch</p>

<p>Bei Fragen oder Unklarheiten können Sie uns auch gern von Montag bis Freitag, 9:00-18:00 Uhr unter den folgenden Rufnummern erreichen.</p>

<p>Schweiz: +41 (0) 41 5880717</p>

<p>Für alle mit unserer Firma eingegangen Rechtsgeschäfte gelten unsere AGB: https://gwriters.ch/agb</p>

<p>Vielen Dank,</p>

<p>GWriters Kundenberatung</p>

<p>----------------------------------------------------</p>
<p>{{ if name }}Vorname: {{ name }}<br>{{ /if }}
{{ if nachname }}Nachname: {{ nachname }}<br>{{ /if }}
{{ if e_mail_adresse }}Emailadresse: {{ e_mail_adresse }}<br>{{ /if }}
{{ if telefon }}Telefon: {{ telefon }}<br>{{ /if }}
{{ if fachrichtung }}Fachbereich: {{ fachrichtung }}<br>{{ /if }}
{{ if arbeitsthema_spezifikationen_usw }}Spezifikation: {{ arbeitsthema_spezifikationen_usw }}<br>{{ /if }}
{{ if seitenzahl }}Seitenzahl, Wörter oder Zeichen: {{ seitenzahl }}<br>{{ /if }}
{{ if lieferdatum }}Abgabedatum: {{ lieferdatum }}{{ /if }}</p>

<p>Detaillierte Angaben zur Datenverarbeitung in Erfüllung der Informationspflichten nach Art. 13 DSGVO erhalten Sie hier: https://knowlance.ch/datenschutzerklaerung-anfragen/</p>

<p>Bitte überprüfen Sie unbedingt den Spam-Order Ihres E-Mail-Postfachs, falls Sie innerhalb unserer Geschäftszeiten noch kein Angebot von uns innerhalb von 2 Stunden erhalten haben.</p>

  {{ else }}

  <p>Vielen Dank, Ihre Anfrage ist soeben in unserem System eingegangen. Wir kontaktieren nun die für Ihr Anliegen am besten passenden Ghostwriter aus unserem Expertenteam und melden uns innerhalb kürzester Zeit mit einem unverbindlichen Angebot bei Ihnen zurück.</p>

  <p>Bitte überprüfen Sie unbedingt den Spam-Order Ihres E-Mail-Postfachs, falls Sie innerhalb unserer Geschäftszeiten noch kein Angebot von uns innerhalb von 2 Stunden erhalten haben.</p>

  <p>Eine Kopie Ihrer Anfrage erhalten Sie per E-Mail an Ihre angegebene Kontaktadresse. Falls Sie uns Korrekturen, Ergänzungen oder Dateianhänge zusenden möchten, senden Sie diese bitte einfach an eine der folgenden E-Mail-Adressen.</p>

  <p>Deutschland: info@gwriters.de<br>
  Schweiz: info@gwriters.ch</p>

  <p>Bei Fragen oder Unklarheiten können Sie uns auch gern von Montag bis Freitag, 9:00-18:00 Uhr unter den folgenden Rufnummern erreichen.</p>

  <p>Deutschland: +49 (0) 30 809 332 339<br>
  Schweiz: +41 (0) 41 5880717</p>

  <p>Für alle mit unserer Firma eingegangen Rechtsgeschäfte gelten unsere AGB: https://gwriters.de/agb</p>

  <p>Vielen Dank,</p>

  <p>GWriters Kundenberatung</p>

  <p>----------------------------------------------------</p>
  <p>{{ if name }}Vorname: {{ name }}<br>{{ /if }}
  {{ if nachname }}Nachname: {{ nachname }}<br>{{ /if }}
  {{ if e_mail_adresse }}Emailadresse: {{ e_mail_adresse }}<br>{{ /if }}
  {{ if telefon }}Telefon: {{ telefon }}<br>{{ /if }}
  {{ if fachrichtung }}Fachbereich: {{ fachrichtung }}<br>{{ /if }}
  {{ if arbeitsthema_spezifikationen_usw }}Spezifikation: {{ arbeitsthema_spezifikationen_usw }}<br>{{ /if }}
  {{ if seitenzahl }}Seitenzahl, Wörter oder Zeichen: {{ seitenzahl }}<br>{{ /if }}
  {{ if lieferdatum }}Abgabedatum: {{ lieferdatum }}{{ /if }}</p>

  <p>Detaillierte Angaben zur Datenverarbeitung in Erfüllung der Informationspflichten nach Art. 13 DSGVO erhalten Sie hier: https://knowlance.de/datenschutzerklaerung-anfragen/</p>

  <p>Bitte überprüfen Sie unbedingt den Spam-Order Ihres E-Mail-Postfachs, falls Sie innerhalb unserer Geschäftszeiten noch kein Angebot von uns innerhalb von 2 Stunden erhalten haben.</p>

   {{ /if }}
