{{ if !config:app:google_tracking && !config:app:facebook_tracking }}
  <!-- No tracking -->
{{ /if }}
{{ if config:app:google_tracking }}
  {{ if site:locale == 'de_DE' }}
    <script type="text/plain" data-cookiecategory="analytics">
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start': new Date().getTime(),
          event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.dataset.cookiecategory = 'analytics'
        j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-MNG7C8D');
    </script>
  {{ /if }}
  {{ if site:locale == 'de_CH' }}
    <script type="text/plain" data-cookiecategory="analytics">
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start': new Date().getTime(),
          event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        j.dataset.cookiecategory = 'analytics'
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-WZJ6VG7');
    </script>
  {{ /if }}
{{ /if }}
{{ if config:app:facebook_tracking }}
  <meta name="facebook-domain-verification"
    content="{{ site:locale == 'de_DE' ? 's212lf3ahv0grtdpw68ue9zp1txu8q' : 'knvzhy3is49lmb27srltvulpolrwh8' }}" />
  <!-- Meta Pixel Code -->
  <script type="text/plain" data-cookiecategory="analytics" id="facebook_pixeljs">
    ! function(f, b, e, v, n, t, s) {
      if (f.fbq) return;
      n = f.fbq = function() {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = '2.0';
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '718610622488872');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=718610622488872&ev=PageView&noscript=1" /></noscript>
  <!-- End Meta Pixel Code -->
{{ /if }}
