<footer class="mt-16">
    <section class="px-4 bg-orange-500 py-24">
        <div class="container mx-auto max-w-screen-xl flex flex-col text-center">
            {{ footer_cta }}
                <h3 class="text-lg text-white block font-normal">
                    {{ cta_headline }}
                </h3>
                <div>
                    <a href="{{cta-button}}" class="mt-12 py-4 px-7 inline-block transition-all duration-300 text-white font-bold roundet border-2 border-white hover:bg-white hover:text-orange-500">
                        {{ cta_button_text }}
                    </a>
                </div>
            {{/footer_cta}}
        </div>
    </section>
    <section class="px-4 bg-gray-100 pt-20 pb-8">
        <div class="container mx-auto max-w-screen-xl flex md:justify-around">
            <div>
                <h5 class="uppercase mb-4 font-semibold text-sm">ÜBER GWRITERS</h5>
                <p class="flex flex-col">
                    {{ nav handle="footer_first_column" }}
                        <a href="{{ url }}" class="text-xs font-sans text-gray-600 hover:text-gray-900">
                            {{ title }}
                        </a>
                    {{ /nav }}
                </p>
            </div>
            <div>
                <h5 class="uppercase mb-4 font-semibold text-sm">INFORMATIONEN</h5>
                <p class="flex flex-col">
                    {{ nav handle="footer_second_column" }}
                        <a href="{{ url }}" class="text-xs font-sans text-gray-600 hover:text-gray-900">
                            {{ title }}
                        </a>
                    {{ /nav }}
                </p>
            </div>
            <div>
                <h5 class="uppercase mb-4 font-semibold text-sm">AUTOREN</h5>
                <p class="flex flex-col">
                    {{ nav handle="footer_third_column" }}
                        <a href="{{ url }}" class="text-xs font-sans text-gray-600 hover:text-gray-900">
                            {{ title }}
                        </a>
                    {{ /nav }}
                </p>
            </div>
        </div>
    </section>
    <section class="px-4 bg-gray-100 pt-12 pb-16">
        <div class="container mx-auto max-w-screen-sm flex md:justify-around">
            {{ nav handle="footer_gwriters_international" }}
                <a href="{{ url }}" alt="{{ title }}" rel="noopener" class="flags {{ title }} text-xs font-bold font-sans text-gray-600 hover:text-gray-900" target="_blank">
                    {{ title }}
                </a>
            {{ /nav }}
        </div>
    </section>
    <section class="px-4 bg-gray-400 py-8">
        <div class="container mx-auto max-w-screen-xl flex md:justify-between">
            <div>
                <p>
                    <span class="text-xs">{{ copyright }}{{ text }}{{ /copyright }}</span>
                </p>
            </div>
            <div>
                <a class="text-xs mr-4">socialmedia icons</a>
                <a class="text-xs mr-4">KONTAKT</a>
                <a class="text-xs mr-4">DATENSCHUTZ</a>
                <a class="text-xs">IMPRESSUM</a>
            </div>
        </div>
    </section>
</footer>
