<footer>
    <section class="px-4 bg-orange-500 py-24">
        <div class="container mx-auto max-w-screen-xl flex flex-col text-center">
            {{ footer_cta }}
                <h3 class="text-lg text-white block font-normal">
                    {{ cta_headline }}
                </h3>
                <div>
                    <a href="{{cta-button}}" class="mt-12 py-4 px-7 inline-block hover:transition-all hover:duration-300 text-white font-bold roundet border-2 border-white hover:bg-white hover:text-orange-500">
                        {{ cta_button_text }}
                    </a>
                </div>
            {{/footer_cta}}
        </div>
    </section>
    <section class="px-4 bg-gray-100 pt-20 pb-8">
        <div class="container mx-auto max-w-screen-xl md:flex md:justify-around">
            <div>
                <h5 class="uppercase mb-4 font-semibold text-sm">ÜBER GWRITERS</h5>
                <p class="flex flex-col">
                    {{ nav handle="footer_first_column" }}
                        <a href="{{ url }}" class="text-xs font-sans text-gray-600 hover:text-gray-900">
                            {{ title }}
                        </a>
                    {{ /nav }}
                </p>
            </div>
            <div>
                <h5 class="uppercase mb-4 font-semibold text-sm">INFORMATIONEN</h5>
                <p class="flex flex-col">
                    {{ nav handle="footer_second_column" }}
                        <a href="{{ url }}" class="text-xs font-sans text-gray-600 hover:text-gray-900">
                            {{ title }}
                        </a>
                    {{ /nav }}
                </p>
            </div>
            <div>
                <h5 class="uppercase mb-4 font-semibold text-sm">AUTOREN</h5>
                <p class="flex flex-col">
                    {{ nav handle="footer_third_column" }}
                        <a href="{{ url }}" class="text-xs font-sans text-gray-600 hover:text-gray-900">
                            {{ title }}
                        </a>
                    {{ /nav }}
                </p>
            </div>
        </div>
    </section>
    <section class="px-4 bg-gray-100 pt-12 pb-16">
        <div class="container mx-auto max-w-screen-sm flex justify-around">
            {{ nav handle="footer_gwriters_international" }}
                <a href="{{ url }}" alt="{{ title }}" rel="noopener" class="flags {{ title }} text-xs font-bold font-sans text-gray-600 hover:text-gray-900" target="_blank">
                    {{ title }}
                </a>
            {{ /nav }}
        </div>
    </section>
    <section class="px-4 bg-gray-500 py-6">
        <div class="container mx-auto max-w-screen-xl md:flex md:justify-between md:items-center">
            <div class="mb-4 md:mb-0">
                <p class="mb-0">
                    <span class="text-xs">{{ copyright }}{{ text }}{{ /copyright }}</span>
                </p>
            </div>
            <div class="sm:flex sm:flex-row">
                {{ social_media_links }}
                    <div class="social-media-links mr-2 mb-4 md:mb-0 flex items-center">
                        {{ if facebook_link }}
                            <a href="{{ facebook_link }}" target="_blank" rel="noreferrer" class="icon fb inline-block text-xs mr-8"><!-- {{ facebook_link }} --></a>
                        {{ /if }}
                        {{ if youtube_link }}
                            <a href="{{ youtube_link }}" target="_blank" rel="noreferrer" class="icon yt inline-block text-xs mr-8"><!-- {{ youtube_link }} --></a>
                        {{ /if }}
                        {{ if twitter_link }}
                            <a href="{{ twitter_link }}" target="_blank" rel="noreferrer" class="icon tw inline-block text-xs mr-8"><!-- {{ twitter_link }} --></a>
                        {{ /if }}
                        {{ if instagram_link }}
                            <a href="{{ instagram_link }}" target="_blank" rel="noreferrer" class="icon insta inline-block text-xs mr-8"><!-- {{ instagram_link }} --></a>
                        {{ /if }}
                    </div>
                {{ /social_media_links }}

                {{ nav handle="service_menu" }}
                    {{ if last }}
                        <a href="{{ url }}" class="text-xs uppercase">
                            {{ title }}
                        </a>
                    {{ else }}
                        <a href="{{ url }}" class="text-xs uppercase mr-4">
                            {{ title }}
                        </a>
                    {{ /if }}
                {{ /nav }}
            </div>
        </div>
    </section>
</footer>
