<footer class="mt-16">
    <section class="bg-orange-500 py-24">
        <div class="container mx-auto max-w-screen-xl flex flex-col text-center">
            {{footer_cta}}
                <h3 class="text-xl text-white block">
                    {{cta_headline}}
                </h3>
                <div>
                    <a href="{{cta-button}}" class="mt-12 py-4 px-7 inline-block transition-all duration-300 text-white font-bold roundet border-2 border-white hover:bg-white hover:text-orange-500">
                        {{cta_button_text}}
                    </a>
                </div>
            {{/footer_cta}}
        </div>
    </section>
    <section class="bg-gray-100 py-8">
        <div class="container mx-auto max-w-screen-xl flex md:justify-around">
            <div>
                <h5 class="uppercase">ÜBER GWRITERS</h5>
                <p class="flex flex-col">
                    <a href="">Unsere Vision</a>
                    <a href="">Unsere Vision</a>
                    <a href="">Unsere Vision</a>
                    <a href="">Unsere Vision</a>
                    <a href="">Unsere Vision</a>
                    <a href="">Unsere Vision</a>
                </p>
            </div>
            <div>
                <h5 class="uppercase">INFORMATIONEN</h5>
                <p class="flex flex-col">
                    <a href="">Unsere Vision</a>
                    <a href="">Unsere Vision</a>
                    <a href="">Unsere Vision</a>
                    <a href="">Unsere Vision</a>
                    <a href="">Unsere Vision</a>
                    <a href="">Unsere Vision</a>
                </p>
            </div>
            <div>
                <h5 class="uppercase">AUTOREN</h5>
                <p class="flex flex-col">
                    <a href="">Unsere Vision</a>
                    <a href="">Unsere Vision</a>
                </p>
            </div>
        </div>
    </section>
    <section class="bg-gray-100 py-8">
        <div class="container mx-auto max-w-screen-sm flex md:justify-around">
            <div>
                gwriters.de
            </div>
            <div>
                gwriters.ch
            </div>
            <div>
                gwriters.uk
            </div>
        </div>
    </section>
    <section class="bg-gray-400 py-8">
        <div class="container mx-auto max-w-screen-xl flex md:justify-between">
            <div>
                <p>
                    <span class="text-xs">© 2011 - 2021, GWriters International Inc.</span>
                </p>
            </div>
            <div>
                <a class="text-xs mr-4">socialmedia icons</a>
                <a class="text-xs mr-4">KONTAKT</a>
                <a class="text-xs mr-4">DATENSCHUTZ</a>
                <a class="text-xs">IMPRESSUM</a>
            </div>
        </div>
    </section>
</footer>
