<header>
<div id="menuUpperRow" class="px-4 flex max-w-screen border-b border-gray-300 bg-orange-500 text-white absolute h-12 z-55 top-0 inset-x-0">
  <div class="container mx-auto max-w-screen-xl self-center">

    <ul class="h-full my-auto">
      <li class="group cursor-pointer text-xs flex flex-col">
        <div class="absolute z-60 top-3 pl-2 flex">
          <a href="tel:{{ localized_contact_data:phone_de_DE }}" class="visible-de text-white">{{ localized_contact_data:phone_de_DE }}</a>
          <a href="tel:{{ localized_contact_data:phone_de_CH }}" class="visible-ch text-white">{{ localized_contact_data:phone_de_CH }}</a>
          <span class="bg-orange-700 group-hover:bg-orange-500 text-tiny self-center rounded ml-2 pl-1 pr-1">9:00 - 18:00 Mo.-So.</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 pt-1.5 h-5 w-5t" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd" />
          </svg>
        </div>
        <ul id="phoneList" class="invisible group-focus:visible group-hover:visible animate-fade-in	absolute top-0 pt-12 w-72 z-55 bg-gray-700 p-2">
          <li class="">
            <a target="_blank" rel="noopener noreferrer" href="tel:+493052014263" class="awb-menu__sub-a">
              <span class="awb-menu__i awb-menu__i_sub fusion-megamenu-icon">
                <i class="glyphicon fa-phone-alt fas" aria-hidden="true"></i>
              </span>+49 30 1234 23454 (Max Mustermann)
            </a>
          </li>
          <li class="">
            <a target="_blank" rel="noopener noreferrer" href="tel:+493052014263" class="awb-menu__sub-a">
              <span class="awb-menu__i awb-menu__i_sub fusion-megamenu-icon">
                <i class="glyphicon fa-phone-alt fas" aria-hidden="true"></i>
              </span>+49 30 1234 23454 (Max Mustermann)
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div id="menuLowerRow" class="px-4 flex max-w-screen border-b border-gray-300 bg-white flexible shadow-sm h-24 z-50 inset-x-0">
  <div class="container mx-auto max-w-screen-xl self-center">
    <div class="flex flex-auto justify-between">
      {{ page_logo:image }}
      <a href="/" alt="Logo" aria-label="Logo">
        <img class="max-h-9 mt-1 w-auto" src="{{ url }}" alt="{{ alt }}" width="{{ width }}" height="{{ height }}">
      </a>
      {{ /page_logo:image }}

      {{ partial src="partials/menu" }}
    </div>
  </div>
</div>
</header>
{{ if breadcrumbs_active }}
<div class="absolute w-full top-28 z-30">
  {{ partial src="partials/content/breadcrumbs_element"}}
</div>
{{ /if }}