<nav class="h-auto justify-end">
    {{ nav handle="mainnav_desktop" }}
        {{ if last }}
            <a href="{{ url }}" class="ml-6 bg-gray-500 px-5 py-3 uppercase text-xs font-300 text-white hover:bg-gray-900 transition-colors duration-200">
                {{ title }}
            </a>
        {{ else }}
            <a href="{{ url }}" {{ if is_current || is_parent }} class="ml-6 current text-sm font-normal text-gray-900" {{ else }} class="ml-6 text-sm font-normal text-gray-900" {{ /if }}>
                {{ title }}
            </a>
        {{ /if }}
    {{ /nav }}
</nav>
