<div class="flex flex-col justify-start gap-6 p-8 lg:justify-center">
    <p class="flex content-center justify-center gap-4">
        <span class="text-lg font-normal text-yellow-500">4,8</span>
        <span class="flex flex-wrap content-center text-xl text-yellow-500">
            ★★★★★
        </span>
        <span class="flex flex-wrap content-center text-base font-normal text-yellow-500">147 Rezisionen</span>
    </p>
    <div class="flex flex-wrap justify-between gap-x-8 lg:gap-x-24">
        {{ partial:review name="Madlen Henk" rating="4.8" date="vor 3 Monaten" }}
        {{ partial:review name="Laura Furst" rating="4.8" date="vor 3 Monaten" }}
        {{ partial:review name="Hanna Gärtner" rating="4.8" date="vor 2 Wochen" }}
        {{ partial:review name="Heinz K" rating="4.8" date="vor 3 Monaten" }}
        {{ partial:review name="Christa Kerbusk" rating="4.8" date="vor 2 Monaten" }}
    </div>
    <div class="font-light text-right text-small">
        powered by Google
    </div>
</div>