{{ sidebar_inhalte }}
<div class="flex flex-col bg-gray-200 card">
    <div class="w-full py-3 text-center bg-gray-300 card-header">
        <h5>
            {{ header_text | shortcode }}
        </h5>
    </div>
    <div class="flex flex-col px-8 pt-3 pb-12 text-center card-body">
        {{ image }}
        <img class="self-center px-8" src="{{ url }}" {{ if alt }} alt="{{ alt }}" {{ /if }}>
        {{ /image }}
        <p class="pb-0">
            <strong>
                {{ name_position }}
            </strong>
        </p>
        <p class="flex justify-center mb-1 -mt-2">
            <span class="flex flex-row gap-2">
                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path
                        d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
                </svg>
                <a href="tel:{{ localized_contact_data:phone_de_DE }}" class="-mt-1 text-black visible-de">{{
                    localized_contact_data:phone_de_DE }}</a>
                <a href="tel:{{ localized_contact_data:phone_de_CH }}" class="-mt-1 text-black visible-ch">{{
                    localized_contact_data:phone_de_CH }}</a>
            </span>
        </p>
        <p class="flex justify-center">
            <span class="flex flex-row gap-2">
                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                    <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                </svg>
                <a href="mailto:{{ localized_contact_data:mail_address_de_DE }}{{ if localized_contact_data:mail_subject_de_DE }}?subject={{ localized_contact_data:mail_subject_de_DE }}{{ /if }}"
                    class="-mt-1 text-black visible-de">{{ localized_contact_data:mail_address_de_DE }}</a>
                <a href="mailto:{{ localized_contact_data:mail_address_de_CH }}{{ if localized_contact_data:mail_subject_de_CH }}?subject={{ localized_contact_data:mail_subject_de_CH }}{{ /if }}"
                    class="-mt-1 text-black visible-ch">{{ localized_contact_data:mail_address_de_CH }}</a>
            </span>
        </p>
        <a href="{{ link:url }}"
            class="inline-block px-10 py-3 mt-4 text-white uppercase transition-colors duration-200 bg-orange-500 arrow font-300 hover:bg-orange-700 inquiry-btn">
            {{ button_text | shortcode }}
        </a>
        <p class="px-4 mt-4 text-xs leading-4 inquiry-text">
            {{ description }}
        </p>
        {{ if trust_logos }}
        <div class="grid grid-cols-1 my-2 xs:grid-cols-2 md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2 xl:gap-4">
            {{ trust_logos }}
            <div class="flex flex-wrap content-center justify-center p-1 mx-auto max-w-160">
                {{ if trust_link }}
                <a href="{{ trust_link }}" title="{{ link_hover_title }}" target="_blank" rel="noopener noreferrer">
                    <img class="self-center w-full h-auto mx-auto" src="{{ logo:url }}" width="{{logo:width}}"
                        height="{{logo:height}}" {{ if logo:alt }} alt="{{ logo:alt }}" {{ /if }}>
                </a>
                {{ else }}
                <img class="self-center w-full h-auto mx-auto" src="{{ logo:url }}" width="{{logo:width}}"
                    height="{{logo:height}}" {{ if logo:alt }} alt="{{ logo:alt }}" {{ /if }}>
                {{ /if }}
            </div>
            {{ /trust_logos }}
        </div>
        {{ /if }}
        <ul class="mx-auto max-w-auto">
            {{ feature_liste }}
            <li class="flex flex-row gap-2 text-left">
                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fillRule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clipRule="evenodd" />
                </svg>
                {{ value }}
            </li>
            {{ /feature_liste }}
        </ul>
    </div>
</div>

{{ /sidebar_inhalte }}