{{ if teaser_bg }}
    {{ teaser_bg }}
        <section class="teaser px-4 flex items-center bg-gray-100 mb-28 border-b border-gray-100 bg-cover bg-center" style="background-image: url({{url}});">
    {{ /teaser_bg }}
{{ else }}
    <section class="teaser px-4 flex items-center bg-gray-100 mb-28 border-b border-gray-100">
{{ /if }}

    <div class="container mx-auto max-w-screen-xl flex justify-center text-center">
        <div class="py-16">
            <h1 class="mb-8 text-orange-500 font-bold text-4xl">
                {{ title }}
            </h1>
            {{ teaser }}
        </div>
    </div>

</section>
