/node_modules
/public/hot
/public/storage
/storage/forms
/storage/uploads
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
composer.phar
.vscode
ssg-lockfile
.dccache
/.antlers.json
/storage/antlers-language-server
/public/img
/Requests
/yaml-test
/yaml/content
