RewriteEngine on
DirectorySlash off

#RewriteRule ^(.+)/page/1/?$ /$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www.gwriters.de [NC]
RewriteRule ^(.*)$ https://gwriters.de/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^www.gwriters.ch [NC]
RewriteRule ^(.*)$ https://gwriters.ch/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule !/$ %{REQUEST_URI}/index.html [L]

RewriteCond %{REQUEST_URI} ^/(.*/)?author/([^/]+)/page/1$
RewriteRule ^(.*)$ /%1author/%2 [R=301,L]

ErrorDocument 404 /error-404/index.html
ErrorDocument 403 /error-404/index.html

<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set Referrer-Policy "no-referrer, strict-origin-when-cross-origin"
  #Header set Content-Security-Policy-Report-Only "default-src 'self'; script-src 'report-sample' 'self' 'unsafe-inline' 'unsafe-eval' www.google-analytics.com www.googletagmanager.com www.provenexpert.com; style-src 'report-sample' 'self' data: 'unsafe-inline' www.provenexpert.com; object-src 'none'; base-uri 'self'; connect-src 'self' https://statamic-dynamic.gwriters.de stats.g.doubleclick.net www.google-analytics.com; font-src 'self' data: www.google-analytics.com www.provenexpert.com; frame-src 'self' player.vimeo.com www.youtube-nocookie.com; img-src 'self' data: www.google.com www.google.at www.google.de www.google-analytics.com google-analytics.com www.provenexpert.com; manifest-src 'self'; media-src 'self'; frame-ancestors 'self' https://thesisbuddy.ch; report-uri https://gwriters.report-uri.com/r/d/csp/wizard; worker-src 'none';"
</IfModule>

# Prohibit access to formular uploads
RedirectMatch 403 ^/public/img/containers/formular_uploads/.?$

Redirect 301 /blog/page/1 /blog
Redirect 301 /presse/page/1 /presse

Redirect 301 /Seminararbeit-beispiel-blockchain /hausarbeit-beispiel-embryonenforschung
Redirect 301 /abgesendet-new /anfrage-abgesendet-adag
Redirect 301 /aff-request /anfrage
Redirect 301 /anfrage-adag /anfrage
Redirect 301 /anfrage-mobile1 /anfrage-mobile
Redirect 301 /anfrage-sm /anfrage
Redirect 301 /arbeiten/bachelorarbeit /arbeiten/bachelorarbeit-schreiben-lassen
Redirect 301 /arbeiten/hausarbeit /arbeiten/hausarbeit-schreiben-lassen
Redirect 301 /arbeiten/masterarbeit /arbeiten/masterarbeit-schreiben-lassen
Redirect 301 /arbeiten/seminararbeit /arbeiten/seminararbeit-schreiben-lassen
Redirect 301 /auswirkung-der-digitalisierung-auf-die-wertschöpfungskette-deckblatt-1 /ghostwriting-beispielarbeiten/seminararbeit-beispiel
Redirect 301 /blog/bachelorarbeit-schreiben-lassen-kosten /arbeiten/bachelorarbeit
Redirect 301 /blog/bachelorarbeit-schreiben-tipps /arbeiten/bachelorarbeit
Redirect 301 /blog/bachelorarbeit-thema /bachelorarbeit-thema
Redirect 301 /blog/bachelorarbeit-thema-finden /bachelorarbeit-thema
Redirect 301 /blog/doktorarbeit-kaufen /arbeiten/doktorarbeit
Redirect 301 /blog/empirische-analyse /blog/empirische-theoretische-bachelorarbeit
Redirect 301 /blog/erste-juristische-prüfung /blog/erste-juristische-pruefung
Redirect 301 /blog/exposee-erstellen /arbeiten/expose
Redirect 301 /blog/exposee-schreiben /arbeiten/expose
Redirect 301 /blog/fragen-ghostwriter-gwriters /faq
Redirect 301 /blog/ghostwriter-erfahrungen /achtung-ghostwriter-betrug
Redirect 301 /blog/ghostwriter-jobs-als-copywriter-webtexte-und-blogbeitraege-schreiben /blog/ghostwriter-jobs-copywriter-webtexte-blogbeitraege-schreiben
Redirect 301 /blog/ghostwriter-ratschlaege /blog/ghostwriter-tipps
Redirect 301 /blog/ghostwriting-ratschlaege /leistungen/ghostwriting
Redirect 301 /blog/igor-lorenz /blog/milena-fischer
Redirect 301 /blog/jura-hausarbeit-seminararbeit-schreiben /ghostwriter/jura
Redirect 301 /blog/online-befragung-teilnehmer-finden /blog/umfrage-teilnehmer-finden
Redirect 301 /blog/seminararbeit+schreiben /blog/erste-seminararbeit-schreiben
Redirect 301 /blog/seminararbeit-schreiben /blog/erste-seminararbeit-schreiben
Redirect 301 /blog/tabellenverzeichnis-word /gwriters-akademie/tabellenverzeichnis-beispiel
Redirect 301 /blog/theoretische-bachelorarbeit /blog/empirische-theoretische-bachelorarbeit
Redirect 301 /blog/übersetzung-einer-wissenschaftlichen-arbeit /blog/uebersetzung-einer-wissenschaftlichen-arbeit
Redirect 301 /businessplan-erstellen-lassen /blog/businessplan-erstellen-lassen
Redirect 301 /category/akademisches-ghostwriting-gwakademie /gwriters-akademie/akademisches-ghostwriting
Redirect 301 /category/ghostwriter-und-agenturen-gwakademie /gwriters-akademie/ghostwriter-und-agenturen
Redirect 301 /category/wissenschaftliches-arbeiten-anfeanger-gwakademie /gwriters-akademie/wissenschaftliches-arbeiten-anfeanger
Redirect 301 /category/wissenschaftliches-arbeiten-fortgeschrittene-gwakademie /gwriters-akademie/wissenschaftliches-arbeiten-fortgeschrittene
Redirect 301 /category/zahnmedizin /ghostwriter/zahnmedizin
Redirect 301 /comments/feed /
Redirect 301 /express-ghostwriting-im-notfall /blog/express-ghostwriting-im-notfall
Redirect 301 /feed /
Redirect 301 /formatierung /leistungen/formatierung
Redirect 301 /ghostwriter-preise /preise

Redirect 301 /gwriters-bibliotek-2-2-2-2-2 /gwriters-akademie

Redirect 301 /startseite-2-3-2-2 /preise-2
Redirect 301 /startseite-2-3-2/projekte /projekte
Redirect 301 /studenten-columbia-universitaet-aufstand /ghostwriter/informatik
Redirect 301 /themenauswahltool /bachelorarbeit-thema
Redirect 301 /verschiedenes/promotionsberatung /promotionsberatung
Redirect 301 /video-ghostwriter-werden-aber-wie /blog/video-ghostwriter-werden-aber-wie
Redirect 301 /video/qualitative-inhaltsanalyse-mayring /blog/qualitative-inhaltsanalyse-mayring-beispiele
Redirect 301 /wiki/verschiedenes /wiki
Redirect 301 /2013-09-10-ksta-turbo-master-in-vier-semestern /presse/2013-09-10-ksta-turbo-master-in-vier-semestern
Redirect 301 /presse/2015-12-03/business-punk-ein-ghostwriter-stellt-sich-vor /presse/2015-12-03-business-punk-ein-ghostwriter-stellt-sich-vor
Redirect 301 /ghostwriting/ghostwriter-gesucht /ghostwriting/suche-ghostwriter
Redirect 301 /fachrichtungen/mathematik/aegyptische-papyri /ghostwriter/mathematik

Redirect 301 /verschiedenes/diplom-kaufen /wiki/diplom-kaufen

Redirect 301 /leistungen/ghostwriting /ghostwriting
Redirect 301 /leistungen/lektorat /lektorat
Redirect 301 /leistungen/korrektorat /korrektorat
Redirect 301 /wissenschaftliche-arbeiten-schreiben-word /blog/wissenschaftliche-arbeiten-schreiben-word

#12786
Redirect 410 /blog/doktorarbeit-erfolgreich
Redirect 410 /blog/ghostwriter-tipps
Redirect 410 /blog/akademische-ghostwriter-textteile-schreiben

Redirect 410 /wayback
Redirect 410 /404
Redirect 410 /404/index.html
Redirect 410 /author/igor-lorenz

Redirect 301 /blog/akademische-ghostwriter-gwriters /
Redirect 301 /blog/doktorarbeit-schreiben /arbeiten/doktorarbeit
Redirect 301 /blog/masterarbeit-ghostwriter-hintergrund /arbeiten/masterarbeit-schreiben-lassen
Redirect 301 /blog/abstract-schreiben /blog/bachelorarbeit-abstract
Redirect 301 /blog/ghostwriter-werden-aber-wie /blog/ghostwriter-werden-voraussetzungen
Redirect 301 /blog/formatierung-wissenschaftlicher-arbeiten-studenten /blog/word-formatierung
Redirect 301 /blog/fachbereiche-gwriters /ghostwriter
Redirect 301 /blog/ghostwriter-gwriters-kommunikation /ghostwriter/kommunikationswissenschaften
Redirect 301 /blog/fuenf-schluesselkompetenzen-ghostwriter-finden /ghostwriter-gesucht
Redirect 301 /blog/akademisches-ghostwriting-alternativen /ghostwriting
Redirect 301 /blog/nicht-akademisches-ghostwriting /ghostwriting
Redirect 301 /blog/akademisches-ghostwriting-grenzen /ghostwriting
Redirect 301 /blog/ghostwriter-hilfe /ghostwriting
Redirect 301 /blog/wissenschaftliches-ghostwriting-vs-business-ghostwriting /ghostwriting
Redirect 301 /blog/ghostwriter-agentur-rolle /ghostwriting/ghostwriting-agentur
Redirect 301 /blog/ghostwriting-agenturen-studenten-ghostwriter /ghostwriting/ghostwriting-agentur
Redirect 301 /blog/plagiatspruefung-masterarbeit /leistungen/plagiatspruefung
Redirect 301 /blog/gwriters-plagiat /leistungen/plagiatspruefung
Redirect 301 /blog-word-formatierung /blog/word-formatierung
Redirect 301 /blog/bachelorarbeit-korrektur-lesen /korrektorat/korrekturlesen
Redirect 301 /blog/doktorarbeit-schreiben-lassen-ablauf-gwriters /arbeiten/doktorarbeit
Redirect 301 /blog/doktorarbeit-schreiben-ablauf /blog/dissertation-schreiben-motivationstipps
Redirect 301 /blog/akademischer-ghostwriter-werden /blog/ghostwriter-werden-voraussetzungen
Redirect 301 /blog/ghostwriter-werden-karriere /blog/ghostwriter-werden-voraussetzungen
Redirect 301 /blog/gebote-wissenschaflicher-arbeiten /blog/wissenschaftliche-arbeiten
Redirect 301 /blog/informatik-studiengang /ghostwriter/informatik
Redirect 301 /blog/zahnmedizin-ghostwriter /ghostwriter/zahnmedizin
Redirect 301 /blog/gwriters-akademische-ghostwriter-ethik /ghostwriter
Redirect 301 /blog/akademische-ghostwriter-vorteile /ghostwriter-job
Redirect 301 /blog/korrektur-lesen /korrektorat/korrekturlesen
Redirect 301 /blog/lektorat /lektorat
Redirect 301 /blog/wissenschaftliches-lektorat /lektorat
Redirect 301 /blog/promotionsberater-ghostwriter /promotionsberatung
Redirect 301 /blog/akademische-ghostwriter-gwriters-angebot /so-funktioniert-es
Redirect 301 /arbeiten/expose /expose
Redirect 301 /wiki/arbeiten/diplomarbeit/ /arbeiten/diplomarbeit
Redirect 301 /arbeiten/dissertation /arbeiten/doktorarbeit
Redirect 301 /blog/hausarbeit-schreiben-lassen-kosten /arbeiten/hausarbeit-schreiben-lassen
Redirect 301 /blog/gwriters-erfahrung /gwriters-erfahrung

#13294
Redirect 410 /wiki/diplom-kaufen
Redirect 410 /blog/hausarbeit-kaufen

#13331
Redirect 301 /blog/produktivitaet-steigern-studium /blog/apps-fuer-studenten

#13628
Redirect 301 /korrektorat/korrekturlesen /korrektorat
Redirect 301 /lektorat/lektorat-service /lektorat
Redirect 301 /faq/was-ist-ein-akademischer-ghostwriter /ghostwriter
Redirect 301 /faq/was-ist-ein-ghostwriter /ghostwriter
Redirect 301 /faq/was-ist-ghostwriting /ghostwriting

#13888
Redirect 301 /blog/ghostwriting-gwriters-teillieferungen /so-funktioniert-es
Redirect 301 /blog/ghostwriter-probleme /ghostwriter
Redirect 301 /blog/hausarbeit-formatieren /leistungen/formatierung
Redirect 301 /blog/ghostwriting-plagiate /blog/plagiate-ghostwriting-legal
Redirect 301 /blog/wissenschaftliche-arbeiten /blog/wissenschaftliches-arbeiten-regeln
Redirect 301 /blog/akademisches-ghostwriting-gwriters /ghostwriting
Redirect 301 /blog/ghostwriter-preise /preise

#13898
Redirect 301 /blog/ghostwriter-medizin-doktorarbeit /ghostwriter/medizin
Redirect 301 /blog/ghostwriter-fachbereiche-besonderheiten /ghostwriter/vwl
Redirect 301 /blog/medienwissenschaften-studiengang /ghostwriter/medienwissenschaften
Redirect 301 /blog/wissenschaftliches-bloggen /blog/blogartikel-schreiben-lassen
Redirect 301 /blog/gwriters-coaching /so-funktioniert-es
Redirect 301 /blog/literaturrecherche-wissenschaftliche-quellen /blog/literaturrecherche-datenbanken-quellen
Redirect 301 /blog/kosten-ghostwriter /preise
Redirect 301 /blog/fragen-akademischer-ghostwriter-gwriters /faq
Redirect 301 /blog/kunst-studiengang /ghostwriter/kunst

#13915
Redirect 301 /blog/vorgehensweise-qualitativen-inhaltsanalyse /blog/qualitative-inhaltsanalyse-voraussetzungen
Redirect 301 /blog/empirische-bachelorarbeit-schreiben /blog/empirische-theoretische-bachelorarbeit
Redirect 301 /blog/die-10-wichtigsten-tipps-zur-literaturrecherche /blog/literaturrecherche-datenbanken-quellen
Redirect 301 /blog/geschichte-studiengang /ghostwriter/geschichte
Redirect 301 /blog/schreiben-lassen-ghostwriting-universitaeten  /ghostwriting
Redirect 301 /blog/thesis-vermeidbare-fehler /blog/fehler-in-der-bachelorarbeit
Redirect 301 /blog/ghostwriter-agentur /ghostwriting/ghostwriting-agentur
Redirect 301 /blog/doktorvater-finden /promotionsberatung/doktorvater-finden
Redirect 301 /blog/ghostwriter-ebook-finden /arbeiten/ebook
Redirect 301 /blog/betreuer-masterarbeit-ghostwriter /arbeiten/masterarbeit-schreiben-lassen
Redirect 410 /blog/semesterbeginn-2020-tipps
Redirect 410 /blog/pandemie-coronavirus-ghostwriter
Redirect 410 /blog/online-nachhilfe-vorlesung

#14042
Redirect 301 /blog/literaturverzeichnis-automatisch-erstellen /blog/word-automatisches-verzeichnis-erstellen
Redirect 301 /blog/verzeichnisse /blog/word-automatisches-verzeichnis-erstellen

#14286
Redirect 301 /faq/motivation-akademische-ghostwriter /ghostwriter
Redirect 301 /faq/ghostwriting-strafbar /blog/plagiate-ghostwriting-legal
Redirect 301 /faq/warum-gwriters /faq
Redirect 301 /faq/preise-ghostwriting /preise
Redirect 301 /faq/fachrichtungen-ghostwriting /ghostwriter
Redirect 301 /faq/qualitaet-ghostwriter /faq
Redirect 301 /faq/kontakt-ghostwriter /so-funktioniert-es
Redirect 301 /faq/ghostwriter-englisch /blog/hausarbeit-auf-englisch-schreiben
Redirect 301 /faq/ghostwriter-korrektur /korrektorat
Redirect 301 /faq/website-content /faq
Redirect 301 /faq/gwriters-in-unternehmen /faq
Redirect 301 /faq/texte-ghostwriting /ghostwriting
Redirect 301 /faq/ablauf-ghostwriting /so-funktioniert-es
Redirect 301 /faq/wie-lange-braucht-ein-ghostwriter /ghostwriter
Redirect 301 /faq/diskretion-ghostwriting /blog/gwriters-diskretion-kunden
Redirect 301 /faq/formatvorgaben /faq

#14469
Redirect 301 /wiki /faq
Redirect 301 /wiki/ghostwriter-oesterreich /faq/ghostwriter-oesterreich
Redirect 301 /wiki/wissenschaftliche-arbeiten-artikel-masterarbeit-schreiben /faq/wissenschaftliche-arbeiten-artikel-masterarbeit-schreiben

#14604
Redirect 301 /fachrichtungen /ghostwriter
Redirect 301 /fachrichtungen/elektrotechnik /ghostwriter/elektrotechnik
Redirect 301 /fachrichtungen/anglistik /ghostwriter/anglistik
Redirect 301 /fachrichtungen/psychologie /ghostwriter/psychologie
Redirect 301 /fachrichtungen/sozialwissenschaften /ghostwriter/sozialwissenschaften
Redirect 301 /fachrichtungen/sprachwissenschaften /ghostwriter/sprachwissenschaften
Redirect 301 /fachrichtungen/chemie /ghostwriter/chemie
Redirect 301 /fachrichtungen/medienwissenschaften /ghostwriter/medienwissenschaften
Redirect 301 /fachrichtungen/literatur /ghostwriter/literatur
Redirect 301 /fachrichtungen/germanistik-ghostwriter /ghostwriter/germanistik
Redirect 301 /fachrichtungen/kunst /ghostwriter/kunst
Redirect 301 /fachrichtungen/bauingenieurwesen /ghostwriter/bauingenieurwesen
Redirect 301 /fachrichtungen/mathematik /ghostwriter/mathematik
Redirect 301 /fachrichtungen/technomathematik /ghostwriter/technomathematik
Redirect 301 /fachrichtungen/zahnmedizin /ghostwriter/zahnmedizin
Redirect 301 /fachrichtungen/soziale-arbeit /ghostwriter/soziale
Redirect 301 /fachrichtungen/biologie /ghostwriter/biologie
Redirect 301 /fachrichtungen/marketing /ghostwriter/marketing
Redirect 301 /fachrichtungen/maschinenbau /ghostwriter/maschinenbau
Redirect 301 /fachrichtungen/philosophie /ghostwriter/philosophie
Redirect 301 /fachrichtungen/erziehungswissenschaften-ghostwriter /ghostwriter/erziehungswissenschaften
Redirect 301 /fachrichtungen/vwl /ghostwriter/vwl
Redirect 301 /fachrichtungen/jura /ghostwriter/jura
Redirect 301 /fachrichtungen/wirtschaftsinformatik /ghostwriter/wirtschaftsinformatik
Redirect 301 /fachrichtungen/architektur /ghostwriter/architektur
Redirect 301 /fachrichtungen/wirtschaftswissenschaften /ghostwriter/wirtschaftswissenschaften
Redirect 301 /fachrichtungen/finanzwissenschaften /ghostwriter/finanzwissenschaften
Redirect 301 /fachrichtungen/soziologie /ghostwriter/soziologie
Redirect 301 /fachrichtungen/medizin /ghostwriter/medizin
Redirect 301 /fachrichtungen/geowissenschaften /ghostwriter/geowissenschaften
Redirect 301 /fachrichtungen/geologie /ghostwriter/geologie
Redirect 301 /fachrichtungen/informatik /ghostwriter/informatik
Redirect 301 /fachrichtungen/agrarwissenschaften /ghostwriter/agrarwissenschaften
Redirect 301 /fachrichtungen/pflegewissenschaften /ghostwriter/pflegewissenschaften
Redirect 301 /fachrichtungen/personalmanagement /ghostwriter/personalmanagement
Redirect 301 /fachrichtungen/bwl /ghostwriter/bwl
Redirect 301 /fachrichtungen/kommunikationswissenschaften /ghostwriter/kommunikationswissenschaften
Redirect 301 /fachrichtungen/geschichte /ghostwriter/geschichte