RewriteEngine on
DirectorySlash off

RewriteRule ^(.+)/page/1/?$ /$1 [R=301]

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^(.*)/$ /$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule !/$ %{REQUEST_URI}/ [L]

ErrorDocument 404 /404/index.html
ErrorDocument 403 /404/index.html

Redirect 301 /Seminararbeit-beispiel-blockchain /hausarbeit-beispiel-embryonenforschung
Redirect 301 /abgesendet-new /anfrage-abgesendet-adag
Redirect 301 /aff-request /anfrage
Redirect 301 /anfrage-mobile1 /anfrage-mobile
Redirect 301 /anfrage-sm /anfrage
Redirect 301 /arbeiten/bachelorarbeit /arbeiten/bachelorarbeit-schreiben-lassen
Redirect 301 /arbeiten/hausarbeit /arbeiten/hausarbeit-schreiben-lassen
Redirect 301 /arbeiten/masterarbeit /arbeiten/masterarbeit-schreiben-lassen
Redirect 301 /arbeiten/seminararbeit /arbeiten/seminararbeit-schreiben-lassen
Redirect 301 /auswirkung-der-digitalisierung-auf-die-wertschöpfungskette-deckblatt-1 /ghostwriting-beispielarbeiten/seminararbeit-beispiel
Redirect 301 /blog/bachelorarbeit-schreiben-lassen-kosten /arbeiten/bachelorarbeit
Redirect 301 /blog/bachelorarbeit-schreiben-tipps /arbeiten/bachelorarbeit
Redirect 301 /blog/bachelorarbeit-thema /bachelorarbeit-thema
Redirect 301 /blog/bachelorarbeit-thema-finden /bachelorarbeit-thema
Redirect 301 /blog/empirische-analyse /blog/empirische-theoretische-bachelorarbeit
Redirect 301 /blog/erste-juristische-prüfung /blog/erste-juristische-pruefung
Redirect 301 /blog/exposee-erstellen /arbeiten/expose
Redirect 301 /blog/exposee-schreiben /arbeiten/expose
Redirect 301 /blog/fragen-ghostwriter-gwriters /blog/fragen-akademischer-ghostwriter-gwriters
Redirect 301 /blog/ghostwriter-erfahrungen /achtung-ghostwriter-betrug
Redirect 301 /blog/ghostwriter-jobs-als-copywriter-webtexte-und-blogbeitraege-schreiben /blog/ghostwriter-jobs-copywriter-webtexte-blogbeitraege-schreiben
Redirect 301 /blog/ghostwriter-ratschlaege /blog/ghostwriter-tipps
Redirect 301 /blog/ghostwriting-ratschlaege /leistungen/ghostwriting
Redirect 301 /blog/igor-lorenz /blog/milena-fischer
Redirect 301 /blog/jura-hausarbeit-seminararbeit-schreiben /fachrichtungen/jura
Redirect 301 /blog/online-befragung-teilnehmer-finden /blog/umfrage-teilnehmer-finden
Redirect 301 /blog/seminararbeit+schreiben /blog/erste-seminararbeit-schreiben
Redirect 301 /blog/seminararbeit-schreiben /blog/erste-seminararbeit-schreiben
Redirect 301 /blog/tabellenverzeichnis-word /gwriters-akademie/tabellenverzeichnis-beispiel
Redirect 301 /blog/theoretische-bachelorarbeit /blog/empirische-theoretische-bachelorarbeit
Redirect 301 /blog/übersetzung-einer-wissenschaftlichen-arbeit /blog/uebersetzung-einer-wissenschaftlichen-arbeit
Redirect 301 /businessplan-erstellen-lassen /blog/businessplan-erstellen-lassen
Redirect 301 /category/akademisches-ghostwriting-gwakademie /gwriters-akademie/akademisches-ghostwriting
Redirect 301 /category/ghostwriter-und-agenturen-gwakademie /gwriters-akademie/ghostwriter-und-agenturen
Redirect 301 /category/wissenschaftliches-arbeiten-anfeanger-gwakademie /gwriters-akademie/wissenschaftliches-arbeiten-anfeanger
Redirect 301 /category/wissenschaftliches-arbeiten-fortgeschrittene-gwakademie /gwriters-akademie/wissenschaftliches-arbeiten-fortgeschrittene
Redirect 301 /category/zahnmedizin /fachrichtungen/zahnmedizin
Redirect 301 /comments/feed /
Redirect 301 /express-ghostwriting-im-notfall /blog/express-ghostwriting-im-notfall
Redirect 301 /feed /
Redirect 301 /formatierung /leistungen/formatierung
Redirect 301 /ghostwriter-preise /preise
Redirect 301 /ghostwriting /leistungen/ghostwriting
Redirect 301 /gwriters-bibliotek-2-2-2-2-2 /gwriters-akademie
Redirect 301 /korrektorat /leistungen/korrektorat
Redirect 301 /lektorat /leistungen/lektorat
Redirect 301 /startseite-2-3-2-2 /preise-2
Redirect 301 /startseite-2-3-2/projekte /projekte
Redirect 301 /studenten-columbia-universitaet-aufstand /fachrichtungen/informatik
Redirect 301 /themenauswahltool /bachelorarbeit-thema
Redirect 301 /verschiedenes/promotionsberatung /promotionsberatung
Redirect 301 /video-ghostwriter-werden-aber-wie /blog/video-ghostwriter-werden-aber-wie
Redirect 301 /video/qualitative-inhaltsanalyse-mayring /blog/qualitative-inhaltsanalyse-mayring-beispiele
Redirect 301 /wiki/verschiedenes /wiki
Redirect 301 /2013-09-10-ksta-turbo-master-in-vier-semestern /presse/2013-09-10-ksta-turbo-master-in-vier-semestern
Redirect 301 /presse/2015-12-03/business-punk-ein-ghostwriter-stellt-sich-vor /presse/2015-12-03-business-punk-ein-ghostwriter-stellt-sich-vor
Redirect 301 /ghostwriting/ghostwriter-gesucht /ghostwriting/suche-ghostwriter
