/* This is all you. */
body {
    font-display: optional;
}

/* Typography */
h1,
h2,
h3,
h4,
h5 {
    font-family: Montserrat;
}
h1 {
    @apply font-bold text-4xl leading-14 text-orange-500;
    strong {
        @apply text-black;
    }
}
h2 {
    font-weight: 700;
    margin: 30px 0 20px;
    color: #444444;
}
h3 {
    @apply mt-4 mb-2 text-lg text-black font-bold;
}
strong {
    font-weight: 600;
}
p {
    @apply mb-4 text-sm text-black;
    a {
        @apply text-orange-500;
    }
}
.teaser {
    p {
        font-family: Montserrat;
    }
}

/* page template styles */
.teaser {
    min-height: 32.5vh;
}

.home .teaser {
    min-height: 69.5vh;
}

/* helper classes */
.is-full {
    left: 50%;
    margin: 50px -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
    align-items: flex-start;
    padding: 50px 0;
    flex-wrap: nowrap;
    -ms-justify-content: space-between;
    justify-content: space-between;
}
