<div class="my-8 accordion accordion-custom">
  {{ items }}
    <div
      class="accordion-tab mb-4 {{ if active }}active{{ /if }}">
      <div class="header block px-6 py-1 bg-gray-400 hover:cursor-pointer hover:text-white"
        data-target="#accordion-tab-{{ index }}">
        {{ headline }}
      </div>
      <div id="accordion-tab-{{ index }}"
        class="px-6 content overflow-hidden transition-all duration-500">
        {{ accordion_content }}
      </div>
    </div>
  {{ /items }}
</div>
