{{ if is-full }}
    {{ if bg-image==null }}
        <div class="{{ if is-full }}is-full{{ /if }}" {{ if bg-color }}style="background-color: {{ bg-color }};" {{ /if }}>
    {{ else }}
        <div class="{{ if is-full }}is-full{{ /if }} {{ if bg-image-fixed }}bg-fixed{{ /if }} bg-cover has-bg-image" style="background-image: url({{ bg-image:url }})">
    {{ /if }}
{{ else }}
    <div>
{{ /if }}

    {{ columns-replicator }}
        {{ partial src="partials/content/{type}" }}
    {{ /columns-replicator }}


</div>
