{{ if is_full }}
  {{ if bg_image == null }}
    <div
      class="{{ if border }}border-t-4 border-b-4 border-orange-500{{ /if }}{{ if remove_spacing }}py-4{{ else }}py-10 lg:py-20{{ /if }} {{ if is_full }}is-full px-4 md:px-0{{ /if }}"
      {{ if bg_color }}
          style="background-color: {{ bg_color }}; --tiny-slider-cutoff-color: {{ bg_color}};"
      {{ /if }}>

  {{ else }}
    <div
      class="{{ if border }}border-t-4 border-b-4 border-orange-500{{ /if }}{{ if remove_spacing }}py-4{{ else }}py-10 lg:py-20{{ /if }} {{ if is_full }}is-full px-4 md:px-0{{ /if }} {{ if bg_image_fixed }}bg-fixed{{ /if }} bg-cover has-bg-image"
      style="background-image: url({{ bg_image:url }})">
  {{ /if }}

{{ else }}
  <div
    class="{{ if border }}border-t-4 border-b-4 border-orange-500{{ /if }}{{ if remove_spacing }}py-4{{ else }}py-10 lg:py-20{{ /if }}">
{{ /if }}

{{ columns_replicator }}
  {{ partial src="partials/content/{type}" }}
{{ /columns_replicator }}

</div>