<figure class="my-4">
    {{ if link }}
        <a href="{{ link }}">
            {{ responsive:assets alt="{alt}" class="self-center mb-2" }}
            {{ assets }}
                <figcaption>
                    {{ caption }}
                </figcaption>
            {{ /assets }}
        </a>
    {{ else }}
        {{ responsive:assets alt="{alt}" class="self-center mb-2" }}
        {{ assets }}
            <figcaption>
                {{ caption }}
            </figcaption>
        {{ /assets }}
    {{ /if }}
</figure>
