<div class="my-8 grid grid-cols-1 md:grid-cols-2 gap-8">
    {{ if ausrichtung=='bild-text' }}
        <div>
            {{ if extension == 'svg' || extension == 'gif' }}
                <img class="opacity-100 hover:opacity-80 hover:transition-opacity duration-200" src="{{ bild }}" {{ if alt }} alt="{{ alt }}" {{ /if }}>
            {{ else }}
                {{ responsive:bild alt="{alt}" }}
            {{ /if }}
        </div>
        <div>
            <p class="text-gray-550">
                {{ text }}
            </p>
        </div>
    {{ else }}
        <div>
            <p class="text-gray-550">
                {{ text }}
            </p>
        </div>
        <div>
            {{ if extension == 'svg' || extension == 'gif' }}
                <img class="opacity-100 hover:opacity-80 hover:transition-opacity duration-200" src="{{ bild }}" {{ if alt }} alt="{{ alt }}" {{ /if }}>
            {{ else }}
                {{ responsive:bild alt="{alt}" }}
            {{ /if }}
        </div>
    {{ /if }}
</div>
