{{ collections }}
    {{ collection:{{handle}} as="col" limit="8" paginate="true" }}
        <div class="is-full h-auto">
            <div class="mx-auto max-w-screen-2xl">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
                    {{ col }}
                        <div class="">
                            {{ photo }}
                                <img class="" src="{{ url }}" {{ if alt }} alt="{{ alt }}" {{ /if }}>
                            {{ /photo }}
                            <h3>
                                {{ title }}
                            </h3>
                            <p>{{ position }}</p>
                        </div>
                    {{ /col }}
                </div>
            </div>
        </div>
    {{ /collection:{{handle}} }}
{{ /collections }}
