<div class="link-list">
    <div class="block text-center">
        <div class="inline-flex flex-row mb-4 link-list-header">
            {{ raster }}
            <p class="{{ if first }}active{{ /if }} font-bold p-2 md:px-6 md:py-4 uppercase border-b-2 border-gray-200 cursor-pointer"
                data-target="link-wrapper-{{ index }}">
                {{ text | shortcode }}
            </p>
            {{ /raster }}
        </div>
    </div>
  
    {{ raster }}
        <div class="link-list-body {{ if first }}active{{ /if }} link-wrapper-{{ index }}">
            <div class="flex justify-center">
                <div class="w-full md:max-w-screen-md">
                    {{ eintraege }}
                        <div class="accordion-tab mb-4 {{ if active }}active{{ /if }}">
                            <div class="block px-2 py-2 bg-gray-400 header md:px-6 md:py-4 hover:cursor-pointer" data-target="#accordion-tab-{{ index }}">
                                <div class="flex justify-between p-0 m-0 hover:text-orange-500">
                                    <span class="mt-2 text-base md:mt-1 md:text-xl">
                                        {{ headline }}
                                    </span>
                                    <div class="w-10">
                                        {{ responsive:icon class="w-10 h-10" }}
                                    </div>
                                </div>
                            </div>
                            <div id="accordion-tab-{{ index }}" class="overflow-hidden transition-all duration-500 content">
                                <div class="px-6 py-4">
                                    {{ content}}
                                </div>
                            </div>
                        </div>
                    {{ /eintraege }}
                </div>
            </div>
        </div>
    {{ /raster }}
</div>
  