{{ form:create in="{ form:handle }" id="form" class="flex flex-wrap form-self"
x-ref="form" x-data="sending()" data-submission-type="{ form:handle }"
@submit.prevent="sendForm()" action="{ config:cpssg:dynamic_site_url }/!/forms/{ form:handle }"
}}
<div
  class="w-full grid md:grid-cols-12 gap-y-6 md:gap-x-6 pt-6 pb-12 px-2 sm:px-6 lg:pt-8 lg:pb-16 lg:px-8 bg-gray-200"
>
  {{# Honeypot spam protection. #}}
  <div class="hidden">
    <label
      class="block uppercase tracking-wide text-black text-xs mt-4 mb-1"
      for="fax"
    >
      Fax
      <sup class="text-notice-400">*</sup>
    </label>
    <input
      class="form-input w-full"
      id="fax"
      type="fax"
      name="fax"
      tabindex="-1"
      autocomplete="off"
    />
  </div>

  {{ fields }}
    {{ if handle=='gw_source' }}
      <div class="hidden">
          {{ field }}
      </div>
    {{ else }}
      <div
        class="flex flex-col space-y-4
          {{ width == '25' ?= 'md:col-span-3' }}
          {{ width == '33' ?= 'md:col-span-4' }}
          {{ width == '50' ?= 'md:col-span-6' }}
          {{ width == '66' ?= 'md:col-span-8' }}
          {{ width == '75' ?= 'md:col-span-9' }}
          {{ width == '100' ?= 'md:col-span-12' }}"
      >
        <label
          class="block uppercase tracking-wide text-black text-xs mt-4 mb-1"
          for="{{ handle }}"
        >
          {{ trans key="{display}" }} {{ if validate | contains:required }}
          <sup class="text-red-500">*</sup>
          {{ /if }}
        </label>

        <div
          x-bind:class="{
                'border border-red-500' : errors.{{handle}}
            }"
        >
            {{ if prepend }}
                <div class="has-tooltip relative">
                    {{ field }}
                    <span class='tooltip rounded shadow-xl px-2 py-1 opacity-90 ml-14 inline-block border border-gray-300 text-xs leading-5 max-w-full w-auto bg-white text-black bottom-14 right-0'>{{ prepend }}</span>
                </div>
            {{ else }}
                {{ field }}
            {{ /if }}

          {{ if instructions }}
            <p class="text-sm text-gray-700">{{ instructions }}</p>
          {{ /if }}
        </div>
        {{# Load notification when there is a validation error with the name field.
        #}}
        <template x-if="errors.{{ handle }}">
          {{ partial src="components/notification" type="error"
          attribute="x-text='clientTranslation(\"{handle}\", errors.{ handle })'"
          handle="{handle}" }}
        </template>
      </div>
    {{ /if }}
  {{ /fields }}

  <div class="my-4 md:col-span-12">
    {{ form_info_text }} {{ text }} {{ /form_info_text }}
  </div>

  <div class="md:col-span-12 flex">
    <button
      class="relative bg-orange-500 hover:bg-orange-700 px-10 py-3 mt-8 inline-block text-white font-300 uppercase rounded-sm hover:transition-colors hover:duration-200 hover:bg-opacity-95"
      type="submit"
    >

        <span :class="{ '' : !success , 'opacity-0' : success}">
            {{ if form.handle == 'autorenbewerbung'}} Bewerbung absenden {{ elseif
            form.handle == 'anfrage'}} Anfrage absenden {{ else }} Absenden {{ /if }}
        </span>

        <span :class="{ 'opacity-0' : !success , '' : success}">
            <div class="spinner absolute left-0 right-0 top-4">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </span>

    </button>
  </div>
</div>
{{ /form:create }} {{ dynamic_token }}
<script>
  function clientTranslation(name, preprocessed) {
    if (
      name === 'e_mail_adresse' &&
      preprocessed !== 'Bitte e mail adresse angeben.'
    ) {
      return preprocessed
    }

    if (
        ['file', 'datei_anhang', 'upload'].includes(name) &&
        preprocessed.startsWith('Muss eine Datei vom Typ')
    ) {
        return 'Folgende Dateiformate werden akzeptiert: jpg/jpeg, png, pdf, doc, docx, xls, xlsx, zip'
    }

    switch (name) {
      case 'e_mail_adresse':
        return 'Bitte eine E-Mail-Adresse angeben.'
      case 'fachrichtung':
        return 'Bitte die gewünschte Fachrichtung für die Anfrage auswählen.'
      case 'arbeitsthema_spezifikationen_usw':
        return 'Bitte eine Beschreibung für die Anfrage angeben.'
      case 'fachbereiche_and_interessensschwerpunkte':
        return 'Bitte Fachbereiche angeben.'
      case 'file':
        return 'Bitte laden Sie eine Datei hoch.'
    }
    return 'Bitte das Feld ausfüllen.'
  }
  function sending() {
    return {
      error: false,
      errors: [],
      sending: false,
      success: false,
      sendForm() {
        this.sending = true
        var form = document.querySelector('.form-self')
        var route = '/!/cpssg/forms/'
        if (form) {
          var formURL = new URL(form.action)
          var source = document.querySelector('[name="gw_source"]')
          source.setAttribute('value', window.location.hostname)
          var formOrigin = formURL.origin
          var submissionURL = formOrigin + route + form.dataset.submissionType
          fetch(submissionURL, {
            headers: {
              'X-Requested-With': 'XMLHttpRequest',
            },
            method: 'POST',
            body: new FormData(this.$refs.form),
          })
            .then((res) => res.json())
            .then((json) => {
              if (json['success']) {
                this.errors = []
                this.success = true
                this.error = false
                this.sending = false
                this.$refs.form.reset()
                window.location.assign('/anfrage-abgesendet')
              }
              if (json['error']) {
                this.sending = false
                this.error = true
                this.success = false
                this.errors = json['error']
                form.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"});
              }
            })
            .catch((err) => {
              this.sending = false
              if (err && err.text) {
                err.text().then((errorMessage) => {
                  console.log('errorMessage', errorMessage)
                })
              }
            })
        }
      },
    }
  }
</script>
