<div class="link-list">
    <div class="block text-center">
        <div class="inline-flex flex-row mb-4 link-list-header">
            {{ raster }}
                <p class="{{ if first }}active {{ /if }} font-bold p-2 md:px-6 md:py-4 uppercase border-b-2 border-gray-200 cursor-pointer" data-target="link-wrapper-{{ index }}">{{ text }}</p>
            {{ /raster }}
        </div>
    </div>

    {{ raster }}
        <div class="link-list-body {{ if first }}active {{ /if }}link-wrapper-{{ index }}">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4">
                {{ eintraege }}
                    <a href="{{ url }}" alt="{{ title }}" class="font-Montserrat text-sm text-orange-500 hover:text-orange-700 hover:underline">{{ title }}</a>
                {{ /eintraege }}
            </div>
        </div>
    {{ /raster }}
</div>
