{{ if !in_flow }}
<div class="is-full h-auto">
    <div class="mx-auto max-w-screen-2xl px-8">
        {{ /if }}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
            {{ team_mitglieder }}
            <div class="block">

                {{ if link }}
                <a href="{{ link }}">
                    {{ photo }}
                    <img class="" src="{{ url }}" {{ if alt }} alt="{{ alt }}" {{ /if }} />
                    {{ /photo }}
                    <h3 class="mb-0">
                        {{ title }}
                    </h3>
                </a>
                {{ else }}
                {{ photo }}
                <img class="" src="{{ url }}" {{ if alt }} alt="{{ alt }}" {{ /if }} />
                {{ /photo }}
                <h3 class="mb-0">
                    {{ title }}
                </h3>
                {{ /if }}

                <p class="mb-0">{{ position }}</p>

                {{ if phone_number }}
                <p class="flex flex-wrap gap-x-2 justify-start items-center mb-0">
                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path
                            d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
                    </svg>
                    <a href="tel:{{ phone_number }}" class="text-gray-550">{{ phone_number }}</a>
                </p>
                {{ /if }}
                {{ if email_address }}
                <p class="flex flex-wrap gap-x-2 justify-start items-center">
                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                    </svg>
                    <a href="mailto:{{ email_address }}" class="text-gray-550">{{ email_address }}</a>
                </p>
                {{ /if }}

            </div>
            {{ /team_mitglieder }}
        </div>
        {{ if !in_flow }}
    </div>
</div>
{{ /if}}